* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
} /* 구글 폰트 css 적용 */

h1 {
    font-size: 50;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px o 20px 0;
}

.section-p1 {
    padding: 40px 200px;

}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* Header Start */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #eae4d3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

    z-index: 999; /*헤더랑 hero 영역 구분*/
    position: sticky;
    top: 0;
    left: 0;
}

#header img{
    margin-left: -40px;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #575757;
    transition: 0.3s ease; /*네비탭 마우스 가져갔을 때 색 부드럽게 바뀌게 설정*/
    padding-bottom: 20px;
} 

#navbar li a:hover, /* hover: 네비탭 마우스 가져가면 색 변하는 거*/
#navbar li a.active {  /*active: 네비탭 현재 선택된 페이지에서 상태 변화 */
    color: #083c81; 
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #083c81;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/* 서브 카테고리 */
#navbar .sub-bar{
    display: none;
    align-items: center;
    justify-content: center;
}

#navbar li:hover .sub-bar{
    display: block;
    position: absolute;
    background-color: #eae4d3; 
    margin-left: -50px;
    margin-top: 15px; 
} 

#navbar li:hover .sub-bar ul{
    display: block;
    
}

#navbar li:hover .sub-bar ul li{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 0;
    text-align: center;
    width: 160px;

}

#navbar .sub-bar ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
} 

#navbar li .sub-bar a.active::after,
#navbar li .sub-bar a:hover::after {
    background: none;

}




#navbar .sub-bar2{
    display: none;
    align-items: center;
    justify-content: center;
}

#navbar li:hover .sub-bar2{
    display: block;
    position: absolute;
    background-color: #eae4d3; 
    margin-left: -30px;
    margin-top: 15px; 
} 

#navbar li:hover .sub-bar2 ul{
    display: block;
    
}

#navbar li:hover .sub-bar2 ul li{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 0;
    text-align: center;
    width: 100px;

}

#navbar .sub-bar2 ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
} 

#navbar li .sub-bar2 a.active::after,
#navbar li .sub-bar2 a:hover::after {
    background: none;

}




/* 가로웹화면에서 햄버거, x 아이콘 안 보이게*/
#tab{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/* Index Page*/
#hero{
    background-image: url("img/hero.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #083c81;
}

#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #083c81;
    border: 0;
    padding: 14px 80px 14px 70px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}

/*New Product*/
#product1{
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #dfdcd3;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06); /*제품에 마우스 가져갔을 때 그림자*/
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    color: #083c81;
    font-size: 15px;
    font-weight: 700;
}

#product1 .pro .fa-adn{ /*ar피팅 버튼*/
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f7f3e7;
    font-weight: 500;
    color: #083c81;
    border: 1px solid #eae4d3;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;

}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* Shop Page */

#page {
    width: 100%;
    text-align: center;
}

#page a{
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#page a i{
    font-size: 16px;
    font-weight: 600;
}


/* Single Product */
#prodetails .single-pro-image{
    width: 50%;
    margin-right: 50px;
    padding-left: 50px;
}

#prodetails .fa-adn{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    background-color: #f7f3e7;
    font-weight: 500;
    color: #083c81;
    border: 1px solid #eae4d3;
    position: absolute;
    top: 130px;
    margin: 10px 10px;

}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 10px;
    padding-left: 30px;

}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;

}

#prodetails .single-pro-details h2{
    font-size: 26px;

}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    height: 30px;

}

#prodetails .single-pro-details input{
    width: 40px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background-color: #083c81;
    color: #fff;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    /* border-radius: 30px; */
    

}

#prodetails .single-pro-details table {
    margin-top: 20px;
    max-width: 300px;
}

#prodetails .single-pro-details table th {
    height: 21px;
    vertical-align: middle;
    display: table-cell;
    width: 100px;
    text-align: left;
}

#prodetails .single-pro-details table td {
    height: 21px;
    vertical-align: middle;
    width: auto;
}


#prodetails .single-pro-details .proBtn{
    display: block;
    margin-top: 20px;
    box-sizing: border-box;
    max-width: 300px;
}

#prodetails .single-pro-details .proBtn a {
    text-decoration: none;
}


#prodetails .single-pro-details .proBtn .Btn-a {
    background-color: #083c81;
}

#prodetails .single-pro-details .proBtn a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 45px;
    font-size: 20px;
    font-weight: 700 !important;
    color: #fff;
}

#prodetails .single-pro-details .proBtn .line1 {
    margin: 0 0 4px;
}

#prodetails .single-pro-details .proBtn .line2 {
    display: flex;
}

#prodetails .single-pro-details .proBtn .line2 .cart_Btn {
    width: 100%;
    padding-right: 2px;
}


#prodetails .single-pro-details .proBtn .line2 .wish_Btn {
    width: 100%;
    padding-left: 2px;
}

#prodetails .single-pro-details button .normal{
    display: inline-block;

}

#prodetails .single-pro-details .proBtn .cart{
    background-color: #606063;
    width: 110px;
    height: 50px;
}

#prodetails .single-pro-details .proBtn .buy{
    background-color: #606063;
    width: 100px;
    height: 50px;
}

#prodetails .single-pro-details .proBtn .heart{
    background-color: #606063;
    width: 50px;
    height: 50px;
}

#prodetails .single-pro-details .proBtn .heart{
    font-size: 25px;
}


#prodetails2 h2{
    text-align: center;
}

/* product 상세 페이지 location area */
.location{
    display: flex;
}

.location_item{
    display: inline-block;
    font-size: 12px;
}

.location_item:not(:last-of-type)::after{
    content: '\203a'; /* 작은 > 아이콘 */
    margin: 0 5px;
    color: #606063;
}

.location_link{
    text-decoration: none;
    color: #606063;
}

.location_link:hover{
    text-decoration: underline;
}

.location_link-active{
    font-weight: 500;
}




/* Review Write */
.review_write{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;

}

.review_write .review_write_form input{
    width: 600px;
    height: 280px;
    font-size: 20px;
    
}

.review_write .review_write_form .review_writing{
    font-size: 24px;
    font-weight: 600;
    background-color: #ddd;
}

.review_write_star_rating{
    user-select: none;  
    margin-top: 15px; 
}

.review_write_star_rating .star{
    font-size: 30px;
    color: #ff9800;
    background-color: unset;
    border: none;
}

.review_write_star_rating .star:hover{
    cursor: pointer;
}

#review {
margin-bottom: 70px;
}

#review h2 {

    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: double;
}
#review .ReviewList {
    width: 100%;
    margin-top: 5px;
    border-bottom: 1px solid #111;
    padding-bottom: 20px;
}

#review .ReviewList table {
    width: 100%;
}
#review .ReviewList table tbody {
    vertical-align: middle;
}

#review .ReviewList table tbody tr {
    border-bottom: 1px #000000;
}
#review .ReviewList table td {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#review .wrap {
    width: 100%;
    text-align: right;

}

#review .wrap .review_writeBtn{
    display: flex;
    float: right;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    
}

#review .wrap .review_writeBtn input[type="writeBtn"] {
    background: #083c81;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    width: 90px;
    height: 30px;
    margin-right: 8px;

}



#review .page {
    display: block;
    margin-top: 70px;
    align-items: center;
}

#review .page .left {
    width: 25%;
    float: left;
    padding: 3px 0 0 100px;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.6em;
    letter-spacing: 0;
    text-align: left;
    display: block;
    vertical-align: middle;
    display: inline;

}
#review .page .center {
width: 50%;
float: left;
display: block;
text-align: center;
font-size: 0;
line-height: 0;
vertical-align: middle;
display: inline;
zoom: 1;
margin: 0;
padding: 0;

}

#review .page .center li {
    
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #888;
    vertical-align: top;
    display: inline;
}

#review .page .center li a {
    
    margin: 0 2px;
    padding: 0 5px;
    color: #888;
    background: #fff;
}

#review .page .right {
    width: 25%;
    float: right;
    padding: 3px 100px 0 0;
    font-size: 1.2em;
    line-height: 1.6em;
    letter-spacing: 0;
    text-align: right;
    display: block;
    vertical-align: middle;
    display: inline;
}

/** 리뷰 상세 화면 **/

#reviewdetails {
    
}
#reviewdetails .contentBx {
    padding: 150px 0 100px 0;
    width: 70%;
    align-items: center;
    justify-items: center;
    min-height: 700px;
    margin: 0 auto;

    
}

#reviewdetails .contentBx .reviewdRead .title {
    padding: 0 5px 0 10px;

}

#reviewdetails .contentBx .reviewdRead .info {
    margin-top: 15px;
    margin-bottom: 15px;
}

#reviewdetails .contentBx .reviewdRead .info p {
    position: relative;
    display: inline-block;
    padding: 0 5px 0 10px;
}
#reviewdetails .contentBx .reviewdRead .content {
    padding: 25px 0 25px 0;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

#reviewdetails .contentBx .reviewdRead .review_pic {
    margin-top: 20px;
    height: 445px;
    width: 100%;
}

#reviewdetails .contentBx .reviewdRead .review_pic img {
    height: 440px;
}

/* ar피팅 화면 */
#arfit-logo{
    background-color: #dcc7b0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* For You */
#foryou{
    text-align: center;
}


#foryou .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#foryou .location {
    margin-top: 60px;

}

#foryou .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #dfdcd3;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#foryou .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06); /*제품에 마우스 가져갔을 때 그림자*/
}

#foryou .pro img {
    width: 100%;
    border-radius: 20px;
}

#foryou .pro .des {
    text-align: start;
    padding: 10px 0;
}

#foryou .pro .des span {
    color: #606063;
    font-size: 12px;
}

#foryou .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#foryou .pro .des h4 {
    padding-top: 7px;
    color: #083c81;
    font-size: 15px;
    font-weight: 700;
}

#foryou .pro .fa-adn{ /*ar피팅 버튼*/
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f7f3e7;
    font-weight: 500;
    color: #083c81;
    border: 1px solid #eae4d3;
    position: absolute;
    bottom: 20px;
    right: 10px;
}



/* About */
#aboutpage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* Login Page*/

#login-area{
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    max-width: 600px;
    height: 650px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 10px 12px;
    border: 1px solid #dcc7b0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgb(0 0 0 / 2%);
    margin-top: 50px;
    
}

#login-area .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*
#login-area .contentBx .formBx{
    
}*/

#login-area .contentBx .formBx h2{
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 4px solid #083c81;
    letter-spacing: 1px;
}

#login-area .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}

#login-area .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #222;
    font-weight: 300;
    letter-spacing: 1px;
}

#login-area .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 10px;
    outline: none;
    font-weight: 400;
    border: 1px solid #083c81;
    font-size: 16px;
    letter-spacing: 1px;
    color: #222;
    background: transparent;
    /*
    border-radius: 20px;
    */
}

#login-area .contentBx .formBx .inputBx input[type="button"]{
    background: #083c81;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

#login-area .contentBx .formBx .inputBx input[type="button"]:hover{
    background: #0a4ba0;
}

#login-area .contentBx .formBx .remember{
    margin-bottom: 10px;
    color: #575757;
    font-weight: 400;
    font-size: 14px;
}

#login-area .contentBx .formBx .inputBx p{
    color: #575757;
}

#login-area .contentBx .formBx .inputBx p a{
    color: #083c81;
}

#login-area .contentBx .formBx h4{
    color: #222;
    text-align: center;
    margin: 40px 0 10px;
    font-weight: 500;
}


#login-area .contentBx .formBx .scl{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 100%;
 
}

#login-area .contentBx .formBx .scl li{
    list-style: none;
    cursor: pointer;
    justify-content: center;
    
}

#login-area .contentBx .formBx .scl li img{
    justify-content: center; 
}

/* Sign Up Page */

#signup-area {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    max-width: 600px;
    height: 650px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 10px 12px;
    border: 1px solid #dcc7b0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgb(0 0 0 / 2%);
    margin-top: 50px;
    
}

#signup-area .contentBx{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto; /*스크롤 생성*/
}


#signup-area .contentBx .formBx h2{
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    margin-top: 120px;
    margin-bottom: 20px;
    border-bottom: 4px solid #083c81;
    letter-spacing: 1px;
}

#signup-area .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}

#signup-area .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #222;
    font-weight: 300;
    letter-spacing: 1px;
}

#signup-area .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 10px;
    outline: none;
    font-weight: 400;
    border: 1px solid #083c81;
    font-size: 16px;
    letter-spacing: 1px;
    color: #222;
    background: transparent;

}

#signup-area .contentBx .formBx .inputBx input[type="submit"]{
    background: #083c81;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

#signup-area .contentBx .formBx .inputBx input[type="submit"]:hover{
    background: #0a4ba0;
}

#signup-area .contentBx .formBx .remember{
    margin-bottom: 10px;
    color: #575757;
    font-weight: 400;
    font-size: 14px;
}

#login-area .contentBx .formBx .inputBx p{
    color: #575757;
}

#signup-area .contentBx .formBx .inputBx p a{
    color: #083c81;
}

#signup-area .contentBx .formBx h4{
    color: #222;
    text-align: center;
    margin: 40px 0 10px;
    font-weight: 500;
}


#signup-area .contentBx .formBx .scl{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 100%;
 
}

#signup-area .contentBx .formBx .scl li{
    list-style: none;
    cursor: pointer;
    justify-content: center;
    
}

#signup-area .contentBx .formBx .scl li img{
    justify-content: center; 
}

#signup-area .contentBx .formBx .signupinputBx{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-area .contentBx .formBx .signupinputBx input[type="button"] {

    background: #083c81;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

/* Sign up After */

#signupA-area {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    max-width: 600px;
    height: 650px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 10px 12px;
    border: 1px solid #dcc7b0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgb(0 0 0 / 2%);
    margin-top: 50px;
    
}

#signupA-area .contentBx{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto; /*스크롤 생성*/
}

#signupA-area .contentBx .formBx {
    margin-top: -350px;
    vertical-align: middle;
}


#signupA-area .contentBx .formBx h2{
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 4px solid #083c81;
    letter-spacing: 1px;
}


#signupA-area .contentBx .formBx .inputBx{
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}


#signup-area .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 10px;
    outline: none;
    font-weight: 400;
    border: 1px solid #083c81;
    font-size: 16px;
    letter-spacing: 1px;
    color: #222;
    background: transparent;

}

#signupA-area .contentBx .formBx input[type="button"] {

    background: #083c81;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}


/* My Page */

#mypage-area{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 600px;
    background: #fff;
    margin: 20px auto;
    padding: 10px 12px;
    border: 1px solid #dcc7b0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgb(0 0 0 / 2%); 
    margin-top: 50px;
    
}

#mypage-area .contentBx{
    display: inline;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    
    position: relative;
    margin: 20px;
    max-height: 600px;
}

#mypage-area .contentBx h2{
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 4px solid #083c81;
    letter-spacing: 1px;
    /* margin-top: 20px; */
    

}

#mypage-area .contentBx .mypage-form {
    
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 80%;

}

#mypage-area .contentBx .mypage-form .profile {
    
    display:flex;
    width: 100%;
    height: 20%;
    
}

#mypage-area .contentBx .mypage-form .profile .profile-pic {
    background-image: url(img/products/f1.jpg);
    align-items: center;
    width: 120px;
    height: 120px;
}

#mypage-area .contentBx .mypage-form .profile .proflie-name {
    
    align-items: center;
    width: 70%;
    font-size: 18px;
    display: flex;
    text-align: center;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 500;
}

#mypage-area .contentBx .mypage-form .mypage-menu {
    height: 70%;
    margin-top: 35px;
    
}

#mypage-area .contentBx .mypage-form .mypage-menu a {
    text-decoration: none;
}

#mypage-area .contentBx .mypage-form .mypage-menu a:visited,
#mypage-area .contentBx .mypage-form .mypage-menu a:link,
#mypage-area .contentBx .mypage-form .mypage-menu a:hover,
#mypage-area .contentBx .mypage-form .mypage-menu a:active {
    text-decoration: none;
    color: #1a1a1a;
}

#mypage-area .contentBx .mypage-form .mypage-menu .menu1 {
    
    height: 33%;
    text-decoration: none; 
    border-bottom: 2px solid #083c81;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    text-align: center;
}

#mypage-area .contentBx .mypage-form .mypage-menu .menu1 .text {
    width: 70%;
    text-align: left;
    margin-left: 10px;
}


#mypage-area .contentBx .mypage-form .mypage-menu i {
    margin-left: 140px;
}

/* MyPage_Info */

#mypageinfo-area {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    max-width: 600px;
    height: 650px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 10px 12px;
    border: 1px solid #dcc7b0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgb(0 0 0 / 2%);
    margin-top: 50px;
    
}

#mypageinfo-area .contentBx{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto; /*스크롤 생성*/
}

#mypageinfo-area .contentBx .formBx {
    margin-top: 60px;
}


#mypageinfo-area .contentBx .formBx h2{
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    margin-top: 120px;
    margin-bottom: 20px;
    border-bottom: 4px solid #083c81;
    letter-spacing: 1px;
}

#mypageinfo-area .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}

#mypageinfo-area .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #222;
    font-weight: 300;
    letter-spacing: 1px;
}

#mypageinfo-area .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 10px;
    outline: none;
    font-weight: 400;
    border: 1px solid #083c81;
    font-size: 16px;
    letter-spacing: 1px;
    color: #222;
    background: transparent;

}

#mypageinfo-area .contentBx .formBx .inputBx input[type="submit"]{
    background: #083c81;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

#mypageinfo-area .contentBx .formBx .inputBx input[type="submit"]:hover{
    background: #0a4ba0;
}

#mypageinfo-area .contentBx .formBx .remember{
    margin-bottom: 10px;
    color: #575757;
    font-weight: 400;
    font-size: 14px;
}


#mypageinfo-area .contentBx .formBx .inputBx p a{
    color: #083c81;
}

#mypageinfo-area .contentBx .formBx h4{
    color: #222;
    text-align: center;
    margin: 40px 0 10px;
    font-weight: 500;
}


#mypageinfo-area .contentBx .formBx .scl{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 100%;
 
}

#mypageinfo-area .contentBx .formBx .scl li{
    list-style: none;
    cursor: pointer;
    justify-content: center;
    
}

#mypageinfo-area .contentBx .formBx .scl li img{
    justify-content: center; 
}

#mypageinfo-area .contentBx .formBx .signupinputBx{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mypageinfo-area .contentBx .formBx .signupinputBx input[type="button"] {

    background: #083c81;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

/* MyPage_Like */

#mypage-area .contentBx .mypagelike-form {
    overflow: auto;
}

#mypage-area .contentBx .mypagelike-form .pro {
    
    width: 23%;
    min-width: 160px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 5px 5px;
    transition: 0.2s ease;
    position: relative;
    display: inline-block;

}

#mypage-area .contentBx .mypagelike-form .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06); /*제품에 마우스 가져갔을 때 그림자*/
}

#mypage-area .contentBx .mypagelike-form .pro img {
    width: 100%;
    border-radius: 20px;
}

#mypage-area .contentBx .mypagelike-form .pro .des {
    text-align: start;
    padding: 10px 0;
}

#mypage-area .contentBx .mypagelike-form .pro .des span {
    color: #606063;
    font-size: 12px;
}

#mypage-area .contentBx .mypagelike-form .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#mypage-area .contentBx .mypagelike-form .pro .des h4 {
    padding-top: 7px;
    color: #083c81;
    font-size: 15px;
    font-weight: 700;
}
#mypage-area .contentBx .mypagelike-form .pro .fa-circle-xmark {

    background-color: #c8c8c8;  
    text-align: center;
    border-radius: 50px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    top: 5px;
    left: 70px; 
}
#mypage-area .contentBx .mypagelike-form .pro .fa-circle-xmark::before {
    display: none;
}

#mypage-area .contentBx .mypagelike-form .pro .fa-circle-xmark:hover,
#mypage-area .contentBx .mypagelike-form .pro .fa-circle-xmark::after {
    background-color: #c8c8c8;  
    text-align: center;
    border-radius: 50px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    top: 5px;
    left: 70px; 
}

#mypage-area .contentBx .mypagelike-form .pro .fa-adn{ /*ar피팅 버튼*/
    width: 30px;
    height: 30px;
    background-color: #f7f3e7;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    font-weight: 500;
    color: #083c81;
    border: 1px solid #eae4d3;
    position: absolute;
    bottom: 10px;
    right: 10px;

}

#mypage-area .contentBx .mypage_page {
    display: block;
    align-items: center;
    margin-top: 20px;
}

#mypage-area .contentBx .mypage_page .left {
    width: 25%;
    float: left;
    padding: 3px 0 0 100px;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.6em;
    letter-spacing: 0;
    text-align: left;
    display: block;
    vertical-align: middle;
    display: inline;
}



#mypage-area .contentBx .mypage_page .center {
    width: 50%;
    float: left;
    display: block;
    text-align: center;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    display: inline;
    margin: 0;
    padding: 0;

}

#mypage-area .contentBx .mypage_page .center li {
    
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #888;
    vertical-align: top;
    display: inline;
}

#mypage-area .contentBx .mypage_page .center li a {
    
    margin: 0 2px;
    padding: 0 5px;
    color: #888;
    background: #fff;
}

#mypage-area .contentBx .mypage_page .right {
    width: 25%;
    float: right;
    padding: 3px 100px 0 0;
    font-size: 1.2em;
    line-height: 1.6em;
    letter-spacing: 0;
    text-align: right;
    display: block;
    vertical-align: middle;
    display: inline;
}

#mypage-area .contentBx .mypage_page i {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #888;
    vertical-align: top;
   
}


/* MyPage_Cart */
#mypage-area .contentBx {
    overflow: auto;
}
#mypage-area .contentBx ::-webkit-scrollbar  {
    display: none;
    /** 스크롤 기능o, 안 보이게 **/
}

#mypage-area .contentBx .mypagecart-form .cart-pro {

    display:flex;
    padding: 10px 12px;
    cursor: pointer;
    height: 150px;
    position: relative;
    width: 100%;
    display: inline;

    
}

#mypage-area .contentBx .mypagecart-form .cart-pro .pro {
    
    width: 100%;
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;

}

#mypage-area .contentBx .mypagecart-form .cart-pro .pro i{
    text-align: right;
    position: absolute;
    right: 0px;
    top: -7px;
    font-size: 12px;
}

#mypage-area .contentBx .mypagecart-form .pro img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 20px;
}

#mypage-area .contentBx .mypagecart-form .pro .des {
    text-align: start;
    padding: 10px 0;
    margin-left: 20px;
    width: 50%;
}

#mypage-area .contentBx .mypagecart-form .pro .des span {
    color: #606063;
    font-size: 12px;
}

#mypage-area .contentBx .mypagecart-form .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#mypage-area .contentBx .mypagecart-form .pro .des h4 {
    padding-top: 7px;
    color: #083c81;
    font-size: 15px;
    font-weight: 700;
}

#mypage-area .contentBx .mypagecart-form .pro .des p {
    font-size: 12px;
    margin-top: 7px;
}

#mypage-area .contentBx .mypagecart-form .total_price {
    width: 100%;
    padding-bottom: 50px;
}

#mypage-area .contentBx .mypagecart-form .total_price h3 {
    float: left;
}

#mypage-area .contentBx .mypagecart-form .total_price p {
    float: right;
}

#mypage-area .contentBx .mypagecart-form .orderBx {
    align-items: center;
    justify-content: center;
    display: flex;
}

#mypage-area .contentBx .mypagecart-form .orderBx input {
    width: 100%;
    padding: 10px 10px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 2px;
}

#mypage-area .contentBx .mypagecart-form .orderBx input[type="opBtn"]{
    background:#eae4d3;
    color:#888;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    margin-right: 5px;
    
}

#mypage-area .contentBx .mypagecart-form .orderBx input[type="AllBtn"]{
    background: #083c81;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    margin-left: 5px;
}

/* MyPage_Order */

#mypage-area .contentBx .mypageorder-form .order-pro {

    display:flex;
    padding: 10px 12px;
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    height: 150px;
    transition: 0.2s ease;
    position: relative;
    
}

#mypage-area .contentBx .mypageorder-form .order-pro .pro {
    
    width: 80%;
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;
    display: flex;

}

#mypage-area .contentBx .mypageorder-form .pro img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 20px;
}

#mypage-area .contentBx .mypageorder-form .pro .des {
    text-align: start;
    padding: 10px 0;
    margin-left: 20px;
    width: 50%;
}

#mypage-area .contentBx .mypageorder-form .pro .des span {
    color: #606063;
    font-size: 12px;
}

#mypage-area .contentBx .mypageorder-form .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#mypage-area .contentBx .mypageorder-form .pro .des h4 {
    padding-top: 7px;
    color: #083c81;
    font-size: 15px;
    font-weight: 700;
}

#mypage-area .contentBx .mypageorder-form .order-reviewBtn input[type="button"]{

    width: 100px;
    height: 30px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border: none;
    margin-top: 50px;


}


/* Review Area */


.review_star_rating{
    margin-top: 20px;
    
}

.review_star i{
    color: #f6cd17;

}

.review_text{
    margin-top: 15px;
}

.review_photo{
    margin-top: 15px;
}

.review_write_imgBtn{
    margin-top: 15px;
    margin-bottom: 15px;
    
}

#mypage-area .contentBx .review-formBx {

}


#mypage-area .contentBx .review-formBx .reviewtext {
    background-color: #088178;
    width: 100%;
    height: 200px;
}

.noresize {
    resize: none; /* 사용자 임의 변경 불가 */
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;

  }

.review_write_Btn {
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.review_write_applyBtn{
    background-color: #083c81;
    color: #fff;
    width: 100px;
    height: 30px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border: none;
}
.review_write_cancleBtn{
    width: 100px;
    height: 30px;
    background-color: #dfdfe7;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border: none;
}

.review_write_star_rating {
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}





/* Responsive Wed Settings (Tab) */
@media (max-width:799px) {

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #dcc7b0;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #tab{
        display: flex;
        align-items: center;
    }

    #tab i{
        font-size: 24px;
        color: #575757;

    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
        color: #575757;
    }

    #navbar .sub-bar{
        display: none;
        align-items: center;
        justify-content: center;

    }
    #navbar .sub-bar ul{
        margin-top: 15px;
        margin-left: -5px;
        
    }

    #navbar li:hover .sub-bar {
        position:fixed;
        background-color: #dcc7b0;
        margin-left: -155px;
        top: 100px;
        /* z-index: 1; 맨앞으로 나오게 */
        align-items: center;
        justify-content: center;
        
    }

    #navbar li:hover .sub-bar ul li {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: -10px;
        margin-right: -10px;
        border-radius: 0;
        text-align: center;
        width: 160px;
    }

    #navbar .sub-bar ul li a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }


    #navbar .sub-bar2{
        display: none;
        align-items: center;
        justify-content: center;

    }
    #navbar .sub-bar2 ul{
        margin-top: 15px;
        margin-left: -5px;
    }

    #navbar li:hover .sub-bar2 {
        position:fixed;
        background-color: #dcc7b0;
        margin-left: -155px;
        margin-top: -40px;
        /* z-index: 1; 맨앞으로 나오게 */
        align-items: center;
        justify-content: center;
        
    }

    #navbar li:hover .sub-bar2 ul li {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: -10px;
        margin-right: -10px;
        border-radius: 0;
        text-align: center;
        width: 160px;
    }

    #navbar .sub-bar2 ul li a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }

    #product1 {
        text-align: center;
    }
    
    .section-p1 {
        padding: 40px 100px;
    }
    
    /**
    #product1 .pro-container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;**/
        

    
}
















/*
@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #dcc7b0;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #navbar li a.active::after {
        display: none;
    }

    #navbar .sub-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }



    #navbar li:hover .sub-bar {
        display: block;
        background-color: #088178;
        margin-left: -50px;
        margin-top: 15px;
    }




    #tab {
        display: flex;
        align-items: center;
    }
    #tab i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #loginicon {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 50%;
    }

    #product1 .pro-container {
        justify-content: center;

    }

    #product1 .pro {

        margin: 15px;
    }
}


 /* Responsive Wed Settings (phone) 
@media (max-width: 477px) {

    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 20px;
  
    }
    
    #hero {
        padding: 0 20px;
        background-position: top 30% right 50%;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 0 0 15px 0;
    }

} 
*/